<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503823162169-qnbkibs2qsccl934a4ac6ushfu2k2hon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503823162169-qnbkibs2qsccl934a4ac6ushfu2k2hon</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503823162169-hc85kbk5vmnp1mlk544l5un14dj98dut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDho_O3ToeI1LvbrcmiZBMtN_PDnXNWbUw</string>
	<key>GCM_SENDER_ID</key>
	<string>503823162169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wetuk.liguey</string>
	<key>PROJECT_ID</key>
	<string>liguey</string>
	<key>STORAGE_BUCKET</key>
	<string>liguey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503823162169:ios:8d4a2dfef010e9c50c26e8</string>
	<key>DATABASE_URL</key>
	<string>https://liguey.firebaseio.com</string>
</dict>
</plist>